<!-- Tabla de automoviles -->
<div *ngIf="AccionABMC == 'L'">
  <div class="row justify-content-center">
    <button type="button" class="btn btn-primary" (click)="Buscar()">
      <span class="fas fa-search"> </span> Buscar
    </button>
    &nbsp;
    <button type="button" class="btn btn-primary" (click)="Agregar()">
      <span class="fas fa-plus"> </span>
      Agregar
    </button>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-center">IdAutomovil</th>
        <th class="text-center">Marca</th>
        <th class="text-center">Modelo</th>
        <th class="text-center">Año</th>
        <th class="text-center">FechaAlta</th>
        <th class="text-center">Usado</th>
        <th class="text-center text-nowrap">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of Items">
        <td>{{ item.IdAutomovil }}</td>
        <td>{{ item.Marca | uppercase }}</td>
        <td>{{ item.Modelo | uppercase }}</td>
        <td>{{ item.Anio }}</td>
        <td>{{ item.FechaAlta | date: 'dd/MM/yyyy' }}</td>
        <td>{{ item.Usado }}</td>
        <td>
          <button
            type="button"
            class="brn btn-primary"
            (click)="Consultar(item)"
          >
            Ver
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Formulario de alta y consulta -->

<form name="FormRegistro" *ngIf="AccionABMC != 'L'" [formGroup]="FormRegistro">
  <fieldset [disabled]="AccionABMC === 'C'">
    <!--campo marca-->
    <div class="form-group row">
      <label class="col-form-label col-sm-2 offset-sm-2" for="Marca">
        Nombre <span class="text-danger">*</span>
      </label>
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control text-uppercase"
          formControlName="Marca"
          [ngClass]="{
            'is-invalid':
              (FormRegistro.controls.Marca.touched || submitted) &&
              FormRegistro.controls.Marca.errors
          }"
        />
        <span
          class="text-danger"
          *ngIf="
            (FormRegistro.controls.Marca.touched || submitted) &&
            FormRegistro.controls.Marca.errors &&
            FormRegistro.controls.Marca.errors.required
          "
        >
          Dato requerido
        </span>
        <span
          class="text-danger"
          *ngIf="
            (FormRegistro.controls.Marca.touched || submitted) &&
            (FormRegistro.controls.Marca.errors?.minlength ||
              FormRegistro.controls.Marca.errors?.maxlength)
          "
          >Dato texto de hasta 100 caracteres</span
        >
      </div>
    </div>

    <!--campo telefono-->
    <div class="row form-group">
      <label class="col-form-label col-sm-2 offset-sm-2" for="Telefono">
        Telefono <span class="text-danger">*</span>
      </label>
      <div class="col-sm-6">
        <input
          type="text"
          name="Telefono"
          class="form-control"
          formControlName="Telefono"
          [ngClass]="{
            'is-invalid':
              (FormRegistro.controls.Telefono.touched || submitted) &&
              FormRegistro.controls.Telefono.errors
          }"
        />
        <span
          class="text-danger"
          *ngIf="
            (FormRegistro.controls.Nombre.touched || submitted) &&
            FormRegistro.controls.Telefono.errors &&
            FormRegistro.controls.Telefono.errors.required
          "
        >
          Dato requerido
        </span>
        <span
          class="text-danger"
          *ngIf="
            (FormRegistro.controls.Nombre.touched || submitted) &&
            FormRegistro.controls.Telefono.errors?.pattern
          "
        >
          Dato numérico, hasta 9 dígitos.
        </span>
      </div>
    </div>

    <!--campo fechanacimiento-->
    <div class="form-group row">
      <label class="col-form-label col-sm-2 offset-sm-2">
        Fecha de Nacimiento <span class="text-danger">*</span>
      </label>
      <div class="col-sm-6">
        <input
          class="form-control"
          name="FechaNacimiento"
          formControlName="FechaNacimiento"
          [ngClass]="{
            'is-invalid':
              (FormRegistro.controls.FechaNacimiento.touched || submitted) &&
              FormRegistro.controls.FechaNacimiento.errors
          }"
        />
        <span
          class="text-danger"
          *ngIf="
            (FormRegistro.controls.Nombre.touched || submitted) &&
            FormRegistro.controls.FechaNacimiento.errors &&
            FormRegistro.controls.FechaNacimiento.errors.required
          "
        >
          Dato requerido
        </span>
        <span
          class="text-danger"
          *ngIf="
            (FormRegistro.controls.Nombre.touched || submitted) &&
            FormRegistro.controls.FechaNacimiento.errors?.pattern
          "
        >
          Dato fecha, formato dd/mm/aaaa.
        </span>
      </div>
    </div>
  </fieldset>

  <!-- Botones Grabar, Cancelar/Volver' -->
  <div class="row justify-content-center">
    <button
      type="button"
      class="btn btn-primary"
      (click)="Grabar()"
      *ngIf="AccionABMC == 'A'"
    >
      <span class="fas fa-check"></span> Grabar
    </button>
    &nbsp;
    <button type="button" class="btn btn-warning" (click)="Volver()">
      <span class="fas fa-undo"></span>
      {{ AccionABMC == 'A' ? 'Cancelar' : 'Volver' }}
    </button>
  </div>

  <!--texto: Revisar los datos ingresados...-->
  <div
    id="divMsjFormRegistro"
    class="row alert alert-danger"
    *ngIf="submitted && FormRegistro.invalid"
  >
    <span class="fas fa-exclamation-sign"></span>{{ Mensajes['RD'] }}
  </div>
</form>
